* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.body--light {
  background-color: #ede4d8;
  color: black;
  a {
    color: black;
  }
}

.body--dark {
  background-color: #202023;
  color: white;
  a {
    color: white;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 0.2s;
}

.main_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 761px) {
  .main_page {
    width: 100%;
  }
}
