.main__nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  .nav-bar__first-list--light {
    background-color: #f4ede471;
    color: black;
  }
  .nav-bar__first-list--dark {
    color: white;
    background-color: #4040462b;
  }
  .nav-bar__first-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  ul {
    padding: 20px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    list-style: none;
    li {
      list-style: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .nav-bar__first-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    i {
      color: gray;
      font-weight: 700;
      font-size: 17px;
    }
    .menu-bar {
      display: none;
    }
  }
  .nav-bar__second-container {
    display: none;
  }
}
.change-sw--light {
  padding: 10px;
  background-color: rgb(255, 211, 90);
  border-radius: 10px;
}
.change-sw--moon {
  padding: 10px;
  background-color: rgb(27, 20, 104);
  border-radius: 10px;
  color: white;
}

.love__things {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.love__things__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  i {
    color: #2b8482;
  }
  p {
    color: #2b8482;
    font-weight: 700;
    font-size: 15px;
  }
}

.youtube__videos {
  border-radius: 10px;
  width: 300px;
  height: 150px;
}

.youtube__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  color: gray;
  opacity: 0.8;
  font-size: 13px;
}

footer {
  margin-bottom: 20px;
}

@media screen and (max-width: 761px) {
  .main__nav-bar {
    .nav-bar__first-list {
      gap: 0px;
      justify-content: space-between;
      padding: 5px 40px;
    }
    .nav-bar__first-list ul li {
      display: none;
    }
    .menu-bar {
      display: block !important;
    }
    .nav-bar-black {
      background-color: #2d3748;
      border: 1px solid rgb(72, 72, 72);
      ul li a {
        color: #4aab67;
        font-size: 15px;
      }
    }
    .nav-bar-white {
      background-color: white;
      border: 1px solid rgb(222, 222, 222);
      ul li a {
        color: #2b8482;
        font-size: 15px;
      }
    }

    .nav-bar__second-container {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
      padding: 0px 50px 0px 20px;
      position: fixed;
      top: 57px;
      right: 0;
      border-bottom-left-radius: 5px;

      .nav-bar__second-list {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
      }
    }
  }
}
